.content-box {
    background-color: #ffffff;
}

.titleContent {
    text-align: center;
}

.pagination-box {
    text-align: center;
}

.page-link {
    cursor: pointer;
}

.toolbox {
    margin: 5px 0px 5px 0px;
}

.modal-xl {
    min-width: 80%;
}

.modal-title {
    font-size: 14pt;
}

*:focus {
    outline: none !important;
}